<!DOCTYPE html>
<html>
<head>
  <title>Campusfit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>          
  <% if "#{params[:controller]}##{params[:action]}" == "piggybak/orders#submit" -%>
      <%= javascript_include_tag "piggybak/piggybak-application" %>
  <% end -%>

  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="container">

      <div class="row">
        <div class="six columns">
          <a href="/"><img src="http://static.tumblr.com/pgl1q8w/0Tolquhvi/banner_1.png" style="width: 300px;" /></a>
        </div>
        <div class="six columns sign-in">
          <% if user_signed_in? %>
            <span>Welcome<% if current_user.first_name? %>, <%= current_user.first_name %><% end %>!</span><br />
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "last" %>
          <% else %>
            <%= link_to "Sign in", new_session_path(:user) %><br />
            <%= link_to "Create Account", new_registration_path(:user) %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="twelve columns">
          <ul class="nav-bar">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Articles</a></li>
            <li><a href="#">Forum</a></li>
          </ul>
        </div>
      </div>

    </div>
  </header>

  <div class="row">
    <div class="twelve columns">
      <%= yield %>
    </div>
  </div>
</body>
</html>
