<!DOCTYPE html>
<html>
<head>
  <title>Campusfit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <%= javascript_include_tag "application" %>          
  <% if "#{params[:controller]}##{params[:action]}" == "piggybak/orders#submit" -%>
      <%= javascript_include_tag "piggybak/piggybak-application" %>
  <% end -%>

  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="container">

      <%= Piggybak.config.activemerchant_mode %>

      <div class="row">
        <div class="six columns">
          <a href="/"><img src="http://static.tumblr.com/pgl1q8w/0Tolquhvi/banner_1.png" style="width: 300px;" /></a>
        </div>
        <div class="six columns sign-in">
          <% if user_signed_in? %>
            <span>Welcome<% if current_user.first_name? %>, <%= current_user.first_name %><% end %>!</span>
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "last" %><br />
            <%= cart_link %>
          <% else %>
            <%= link_to "Sign in", new_session_path(:user) %><br />
            <%= link_to "Create Account", new_registration_path(:user) %>
          <% end %>
        </div>
      </div>

      <%= params[:controller] %>

      <div class="row">
        <div class="twelve columns">
          <ul class="nav-bar">
            <li <% if params[:controller] == 'landing' %>class="active"<% end %>><a href="/">Home</a></li>
            <li <% if params[:controller] == 'articles' %>class="active"<% end %>><a href="/articles">Articles</a></li>
            <li <% if params[:controller] == 'forum' %>class="active"<% end %>><a href="/forum">Forum</a></li>
            <li <% if params[:controller] == 'products' || params[:controller] =~ /piggybak/ %>class="active"<% end %>><a href="/store">Store</a></li>
          </ul>
        </div>
      </div>

    </div>
  </header>

  <div class="row">
      <%= yield %>
  </div>
</body>
</html>
