<!DOCTYPE html>
<html>
<head>
  <title>Campusfit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <%= javascript_include_tag "application" %>          
  <% if "#{params[:controller]}##{params[:action]}" == "piggybak/orders#submit" -%>
      <%= javascript_include_tag "piggybak/piggybak-application" %>
  <% end -%>

  <%= csrf_meta_tags %>
</head>
<body>
  <header>
      <div id="top-bar">
        <div class="row">
            <ul class="inline-list">
              <% if user_signed_in? %>
                <li><span>Welcome<% if current_user.first_name? %>, <%= current_user.first_name %><% end %>!</span></li>
                <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "last" %></li>
                <li><%= cart_link %></li>
              <% else %>
                <li><%= link_to "Sign in", new_session_path(:user) %></li>
                <li><%= link_to "Create Account", new_registration_path(:user) %></li>
              <% end %>
            </ul>
        </div>
      </div>


      <div class="row">
        <div class="twelve columns" style="text-align: center;">
          <a href="/"><%= image_tag 'logo.png', :class => "logo" %></a>
        </div>
      </div>


      <div class="row">
        <div class="eight columns centered">
          <ul class="tabs nav five-up">
            <li <% if params[:controller] == 'landing' %>class="active"<% end %>><a href="/">HOME</a></li>
            <li <% if params[:controller] == 'articles' %>class="active"<% end %>><a href="/articles">ARTICLES</a></li>
            <li <% if params[:controller] == 'forum' %>class="active"<% end %>><a href="/forum">FORUM</a></li>
            <li <% if params[:controller] == 'forum' %>class="active"<% end %>><a href="/world">WORLDFEED</a></li>
            <li <% if params[:controller] == 'products' || params[:controller] =~ /piggybak/ %>class="active"<% end %>><a href="/store">STORE</a></li>
          </ul>
        </div>
      </div>

  </header>

  <div class="container">
    <%= yield %>
  </div>

  <footer>
    <div class="row">
      <div class="six columns centered" style="text-align: center;">
        <p>Here is all my awesome footer stuff!</p>
        <p>ActiveMerchant mode: <%= Piggybak.config.activemerchant_mode %><br />
        Current Controller: <%= params[:controller] %><br />
        Current Action: <%= params[:action] %></p>
      </div>
    </div>
  </footer>
</body>
</html>
